<div class="tabs-panel" id="coding-style">
    <h3>Coding Style</h3>
    <p><strong>Spacing</strong></p>
    <div class="row">
        <label class="columns medium-4"><input type="radio" v-model="styleIndentation" value="2spaces"> 2 Spaces</label>
        <label class="columns medium-4"><input type="radio" v-model="styleIndentation" value="4spaces"> 4 spaces</label>
        <label class="columns medium-4"><input type="radio" v-model="styleIndentation" value="tabs"> Tabs</label>
    </div>

    <p><strong>Event Handling</strong></p>
    <div class="row">
        <label class="columns medium-4"><input type="radio" v-model="styleEventHandling" value="if"> If Statement</label>
        <label class="columns medium-4"><input type="radio" v-model="styleEventHandling" value="switch"> Switch Statement</label>
    </div>

    <p><strong>Braces Placement</strong></p>
    <div class="row">
        <label class="columns medium-4"><input type="radio" v-model="styleBracePlacement" value="newLine"> New Line</label>
        <label class="columns medium-4"><input type="radio" v-model="styleBracePlacement" value="sameLine"> Same Line</label>
    </div>

    <p><strong>Misc</strong></p>
    <div class="row">
        <label class="columns small-12 medium-6"><input type="checkbox" v-model="disableDocs"> Disable API Documentation</label>
        <label class="columns small-12 medium-6"><input type="checkbox" v-model="disableComments"> Disable comments</label>
    </div>
</div>