<div class="tabs-panel is-active" id="plugin-events">
    <h3>Plug-in Events</h3>
    <p>Select all of the events your plug-in will need to listen for.</p>
    <div class="row">
        {% for event in site.events %}
            <div class="columns small-12 medium-6">
                <label>
                    <input type="checkbox" v-model="pluginEvents" value="{{ event.name }}"> {{ event.name }}
                    [<a href="http://wiki.bzflag.org/{{ event.name }}" target="_blank">?</a>]
                </label>
            </div>
        {% endfor %}
    </div>
</div>