---
layout: default
---

<div class="row" id="bpsApp">
    <div class="columns small-12 medium-6">
        <form>
            <h3>Plug-in Details</h3>
            <p>Enter the details of your plug-in</p>
            <label>
                <strong>Plug-in Name</strong> <input type="text" v-model="pluginName" placeholder="Sample Plugin">
            </label>
            <label>
                <strong>Author</strong><input type="text" v-model="pluginAuthor" placeholder="John Doe">
            </label>
            <label>
                <strong>License</strong>
                <select name="license" v-model="pluginLicense">
                    {% for license in site.licenses %}
                        <option value="{{ license.name }}">{{ license.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <hr>
            <h3>Plug-in Events</h3>
            <p>Select all of the events your plug-in will need to listen for.</p>
            <div class="row">
                {% for event in site.events %}
                    <div class="columns medium-6">
                        <label>
                            <input type="checkbox" v-model="pluginEvents" value="{{ event.name }}"> {{ event.name }}
                            [<a href="http://wiki.bzflag.org/{{ event.name }}" target="_blank">?</a>]
                        </label>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <h3>Coding Style</h3>
            <p><strong>Spacing</strong></p>
            <div class="row">
                <label class="columns medium-4"><input type="radio" v-model="styleIndentation" value="2spaces"> 2 Spaces</label>
                <label class="columns medium-4"><input type="radio" v-model="styleIndentation" value="4spaces"> 4 spaces</label>
                <label class="columns medium-4"><input type="radio" v-model="styleIndentation" value="tabs"> Tabs</label>
            </div>

            <p><strong>Event Handling</strong></p>
            <div class="row">
                <label class="columns medium-4"><input type="radio" v-model="styleEventHandling" value="if"> If Statement</label>
                <label class="columns medium-4"><input type="radio" v-model="styleEventHandling" value="switch"> Switch Statement</label>
            </div>

            <p><strong>Braces Placement</strong></p>
            <div class="row">
                <label class="columns medium-4"><input type="radio" v-model="styleBracePlacement" value="newLine"> New Line</label>
                <label class="columns medium-4"><input type="radio" v-model="styleBracePlacement" value="sameLine"> Same Line</label>
            </div>

            <p><strong>Misc</strong></p>
            <div class="row">
                <label class="columns"><input type="checkbox" name="disableDocs"> Disable API Documentation</label>
                <label class="columns"><input type="checkbox" name="disableComments"> Disable comments</label>
            </div>
        </form>
    </div>
    <div class="columns small-12 medium-6 pluginOutput">
        <pre><code>{% raw %}{{ pluginOutput }}{% endraw %}</code></pre>
    </div>
</div>