---
layout: default
---

<div id="bpsApp">
    <noscript>
        <div class="callout alert">
            <h5>JavaScript Disabled</h5>
            <p>This website requires JavaScript to be enabled for it to work.</p>
        </div>
    </noscript>

    <div class="row">
        <div class="columns small-12 medium-6">
            <h3>Plug-in Details</h3>
            <p>This tool will always generate plug-ins including features from the <a href="https://github.com/bzflag-dev/bzflag/tree/2.4">latest BZFlag 2.4.x branch</a>.</p>
            <p>Enter the details of your <a href="https://wiki.bzflag.org/Plug-ins">BZFlag plug-in</a> and start inputting information to build the skeleton for your plug-in.</p>
            <label>
                <strong>Plug-in Name</strong> <input type="text" v-model="pluginName" placeholder="Sample Plugin">
            </label>
            <label>
                <strong>Author</strong><input type="text" v-model="pluginAuthor" placeholder="John Doe">
            </label>
            <label>
                <strong>License</strong>
                <select name="license" v-model="pluginLicense">
                    {% for license in site.licenses %}
                        <option value="{{ license.name }}">{{ license.name }}</option>
                    {% endfor %}
                </select>
            </label>

            <hr>

            <ul class="tabs" data-tabs id="app-tabs">
                <li class="tabs-title is-active">
                    <a href="#plugin-events" aria-selected="true">Events</a>
                </li>
                <li class="tabs-title">
                    <a href="#slashcommands">Slash Commands</a>
                </li>
                <li class="tabs-title">
                    <a href="#callbacks">Generic Callbacks</a>
                </li>
                <li class="tabs-title">
                    <a href="#coding-style">Coding Style</a>
                </li>
            </ul>

            <div class="tabs-content" data-tabs-content="app-tabs">
                {% include tabs/events.html %}
                {% include tabs/slash-commands.html %}
                {% include tabs/generic-callbacks.html %}
                {% include tabs/coding-style.html %}
            </div>

            <footer class="row align-justify">
                <div class="column">
                    <p>Copyright &copy; {{ 'now' | date: '%Y' }}</p>
                </div>
                <div class="column">
                    <ul class="menu simple align-right">
                        <li><a href="https://allejo.io">Author</a></li>
                        <li><a href="http://bzflag.org">BZFlag</a></li>
                        <li><a href="https://github.com/allejo/bzflagPluginStarter2">GitHub</a></li>
                    </ul>
                </div>
            </footer>
        </div>
        <div class="columns small-12 medium-6 pluginOutput js-sticky">
            <div class="toolbar button-group">
                <button id="copyToBoard" class="button" data-clipboard-target="#plugin-output">
                    <span aria-hidden="true"><i class="fa fa-clipboard"></i></span>
                    <span class="show-for-sr">Copy to clipboard</span>
                </button>
            </div>
            <pre><code id="plugin-output">{% raw %}{{ pluginOutput }}{% endraw %}</code></pre>
        </div>
    </div>
</div>
