---
---

pre code {
    overflow-x: scroll;
    display: block;
    font-size: 14px;
    line-height: 1.6em;
    white-space: pre;
    word-wrap: normal;
}

.pluginOutput {
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    pre, code {
        height: 100%;
        width: 100%;
    }
}
