@import 'variables';

html,
body {
    height: 100%;
}

body {
    font-family: Raleway, -apple-system, Helvetica Neue, Arial, sans-serif;
}

h1 {
    color: $color-green;
    font-family: Bitter, sans-serif;
}

fieldset legend,
label:not(.custom-control-label) {
    color: $color-green;
    font-weight: bold;
}

.section-header {
    color: $color-green;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    padding-bottom: calc(0.375rem + 1px);
}

.line-height-1 {
    line-height: 1em;
}
